<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改个人信息</title>
</head>
<body>
    <h1></h1>修改个人信息

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('alter_user') }}">

        <label for="name">姓名:</label>
        <input type="text" name="name" required><br>

        <label for="address">地址:</label>
        <input type="text" name="address" required><br>

        <label for="tel">电话:</label>
        <input type="text" name="tel" required><br>



        <button type="submit">修改</button>
    </form>
</body>
</html>