<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
首页
 <button type="button" onclick="location.href='{{ url_for('food') }}'">食品</button>
 <button type="button" onclick="location.href='{{ url_for('book') }}'">书籍</button>
 <button type="button" onclick="location.href='{{ url_for('sport') }}'">运动器材</button>
 <button type="button" onclick="location.href='{{ url_for('medicine') }}'">药品</button>
<button type="button" onclick="location.href='{{ url_for('user') }}'">个人信息</button>
</body>
</html>